 @font-face{
 	src:url('../fonts/ubuntu/Ubuntu-Regular.ttf');
 	font-family: 'ubuntu';
 }
  body{
  	margin: 0;
  	padding:0;
  	box-sizing: border-box;
  	max-width: 1369px;
  	overflow-x:hidden;
  }

  body *{
  	font-family: 'ubuntu';
  }
 	.navbar{
 		padding: 10px;
 		background: #fbfbfb;
 	}

 	.sidebbar{
 		background: #ccc;
 		height: 590px;
 		position: fixed;
 	}

 	.artticle{
 		background: #222d32;
 		position: relative;
 	/*	left: 15.6%;*/
 		min-height:590px;

 	}

 	.p0{padding: 0 !important;}

 	.tln-active{
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #222d32;
 	}

 	.spn{
 		width: 5%;
 		height: 590px;
 	}

 	textarea{
    width: 95%;
    color: #fff;
    padding-left: 0px;
    min-height: 590px;
 	}
   
   textarea:focus{
    outline: none;
   }
  .codeh{
    width: 100%;
    font-size: 4rem;
    margin-top: 15px;
  }

   .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
   }
